.link {
  text-decoration: underline;
  padding-right: 8px;
  font-weight: bold;
}

.tag {
  padding: 2px;
  margin-right: 8px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
}

.article {
  display: flex;
  height: 25vmin;
}

.image {
  height: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  margin-right: 16px;
}

@media screen and (max-width: 600px) {
  .article {
    flex-direction: column;
  }

  .image {
    height: auto;
    width: 100%
  }
}
