ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 4px;
}

p {
  padding-top: 4px;
}

.link {
  text-decoration: underline;
  padding-right: 8px;
}

.header {
  padding-bottom: 16px;
}

.tag {
  padding: 2px;
  margin-right: 8px;
  border: 1px solid var(--color-dark);
  border-radius: 8px;
}

.article {
  height: 200px;
  width: 600px;
  display: flex;
}

.image {
  height: 200px;
  padding-right: 16px;
}
