.topbar {
  display: flex;
  justify-content: space-between;
}

.topbar__link {
  font-size: 32px;
  padding-left: 4px;
  padding-right: 4px;
}

.topbar__link:hover,
.topbar__logo:hover {
  scale: 1.2;
}

.topbar__logo {
  font-size: 32px;
}

.topbar__items {
  display: flex;
  align-items: center;
}