.topbar {
  display: flex;
  justify-content: space-between;
}

.topbar__link {
  font-size: 32px;
  padding-left: 8px;
}

.topbar__link:hover,
.topbar__logo:hover {
  scale: 1.2;
}

.topbar__logo {
  font-size: 32px;
}
