.sidebar {
  text-align: right;
}

.sidebar__heading {
  text-decoration: underline;
}

.sidebar__items {
  flex-direction: column;
  white-space: nowrap;
  padding: 0;
}

.sidebar__item,
.sidebar__item:hover,
.sidebar__item--selected,
.sidebar__item--selected:hover {
  font-size: 1.2em;
}

.sidebar__item:hover {
  font-weight: bold;
}

.sidebar__item--selected {
  color: var(--highlight-color);
  font-weight: bold;
}

.sidebar__item--selected:hover {
  color: var(--font-color);
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .sidebar__items {
    height: 4rem;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
}
