.sidebar {
  text-align: right;
  width: 400px;
  height: 200px;
}

.sidebar__items {
  flex-direction: column;
  white-space: nowrap;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .sidebar {
    text-align: center;
  }
}

.sidebar__item:hover {
  font-weight: bold;
}

.sidebar__item-selected {
  color: var(--highlight-color);
  font-weight: bold;
}

.sidebar__item-selected:hover {
  color: var(--color);
  font-weight: normal;
}
